<!DOCTYPE html>
<html>
	<head>
		<title>Warhammer - The spaceship purpose</title>
		<link rel="stylesheet" href="css/style.css">
		<script src="bower_components/angular/angular.js"></script>
	</head>
	<body>
		<h1>Warhammer - The ultimate spaceship purposal</h1>
		<div class="game-container">
			<table>
				<tr ng-repeat="i in getNumCols()">
					<td ng-repeat="y in getNumRows()">
						toto
					</td>
				</tr>
			</table>
		</div>
		<script src="//localhost:35729/livereload.js"></script>
	</body>
</html>
